<template>
  <div>
    <div class="calc">
      <div class="calc__screen">
        <b-form-input :value="joinedRow" type="text" disabled />
      </div>
      <div>
        <b-container class="bv-example-row">
          <b-row>
            <b-col class="digit"></b-col>
            <b-col class="digit"></b-col>
            <b-col class="digit"></b-col>
            <b-col class="control"></b-col>
          </b-row>
          <b-row>
            <b-col class="digit" @click="add('7')">7</b-col>
            <b-col class="digit" @click="add('8')">8</b-col>
            <b-col class="digit" @click="add('9')">9</b-col>
            <b-col class="control" @click="del">DEL</b-col>
          </b-row>
          <b-row>
            <b-col class="digit" @click="add('4')">4</b-col>
            <b-col class="digit" @click="add('5')">5</b-col>
            <b-col class="digit" @click="add('6')">6</b-col>
            <b-col class="control" @click="add('/')">/</b-col>
          </b-row>
          <b-row>
            <b-col class="digit" @click="add('1')">1</b-col>
            <b-col class="digit" @click="add('2')">2</b-col>
            <b-col class="digit" @click="add('3')">3</b-col>
            <b-col class="control" @click="add('*')">*</b-col>
          </b-row>
          <b-row>
            <b-col class="digit" @click="add('.')">.</b-col>
            <b-col class="digit" @click="add('+')">0</b-col>
            <b-col class="digit" @click="calculate">=</b-col>
            <b-col class="control" @click="add('-')">-</b-col>
          </b-row>
          <b-row>
            <b-col class="digit"></b-col>
            <b-col class="digit"></b-col>
            <b-col class="digit"></b-col>
            <b-col class="control" @click="add('+')">+</b-col>
          </b-row>
        </b-container>
      </div>
    </div>
  </div>
</template>

<script>
const OPERATORS = ['+', '-', '*', '/'];
export default {
  name: 'Calc',

  data: () => ({
    inputRow: ['1', '+'],
  }),

  computed: {
    joinedRow() {
      return this.inputRow.join('');
    },
  },

  methods: {
    add(symbol) {
      if (
        OPERATORS.includes(this.inputRow[this.inputRow.length - 1])
        && OPERATORS.includes(symbol)
      ) {
        this.$set(this.inputRow, this.inputRow.length - 1, symbol);
        return;
      }
      this.inputRow.push(symbol);
    },

    del() {
      this.inputRow.pop();
    },

    calculate() {
      if (OPERATORS.includes(this.inputRow[this.inputRow.length - 1])) this.inputRow.pop();
      let newInput = eval(this.joinedRow);
      this.inputRow.length = 0;
      this.inputRow.push(newInput);
      console.log(typeof newInput);
    },
  },
};
</script>

<style lang="scss">
* {
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
-webkit-user-select: none;
}

.bv-example-row.container {
  padding: 20px 0 0 0;
  margin: 0;
}
.calc {
  text-align: center;
  max-width: 400px;
}
.control {
  background: grey;
  &:hover {
    background: #5e5d5d;
    font-weight: bold;
    cursor: pointer;
  }
}
.digit {
  min-height: 40px;
  background: #2f4f4f;
  color: white;
  &:hover {
    background: #1d3131;
    font-weight: bold;
    cursor: pointer;
  }
}

.calc__screen {
  input {
    text-align: right;
  }
}
</style>
