<template>
  <div>
    <b-jumbotron header="Login">
      <b-form @submit.prevent="onSubmit">
        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Your Password:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.password"
            required
            placeholder="Enter password"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Submit</b-button>
      </b-form>
    </b-jumbotron>
  </div>
</template>

<script>
export default {
  name: 'Login',

  data: () => ({
    form: {
      email: 'eve.holt@reqres.in',
      password: 'cityslicka',
    },
  }),

  created() {
    if (localStorage.getItem('token')) {
      this.$router.push('/calc');
    }
  },

  methods: {
    onSubmit() {
      this.$http.post('https://reqres.in/api/login', this.form)
        .then(({ data }) => {
          localStorage.setItem('token', data.token);
          this.$router.push('/calc');
        });
    },
  },
};
</script>
