<template>
  <div class="container">
    <router-view />
  </div>
</template>

<style src="normalize.css"></style>

<style lang="scss">
.container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}
</style>
